<% layout('/layouts/boilerplate') -%>
<body>
    <br>
    <h3>Edit your listing</h3>
    <br>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br><br>
        <input type="text" name="listing[description]" value="<%= listing.description %>">
        <br><br>
        <input type="text" name="listing[image]" value="<%= listing.image %>">
        <br><br>
        <input type="number" name="listing[price]"  value="<%= listing.price %>">
        <br><br>
        <input type="text" name="listing[location]"  value="<%= listing.location %>">
        <br><br>
        <input type="text" name="listing[country]"  value="<%= listing.country %>">
        <br><br>
        <button class="addBtn btn btn-dark">EDIT</button>
    </form>
</body>
