<% layout('/layouts/boilerplate') -%>
<body>

    <script>
        const mapToken="<%= process.env.MAP_TOKEN %>";
        const listing= <%- JSON.stringify(listing) %>;
    </script>
    
    <div class="row">
        <br><br>
        <div class=" col-6 offset-3"><h3><%=listing.title%></h3></div>
        <br><br>
        <div class="card col-6 offset-3 listing-card" >
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_img" style="height: 20rem;">
            <div class="card-body">
              <p class="card-text">
                <br>
                Owned by <i><%=listing.owner.username%> </i> <br> <br>
                <b><%=listing.description%> </b><br> <br>
                &#8377; <%=listing.price.toLocaleString("en-IN")%> / night <br>
                <%=listing.location%> <br>
                <%=listing.country%> <br>
              </p>
            </div>
        </div>

        <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
        <div class=" col-6 offset-3" style="display: flex; padding-bottom: 2rem;">
            <form action="/listings/<%=listing._id%>/edit">
                <button  class="addBtn btn btn-dark" style="width:10rem">Edit</button>
            </form>
            
            <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
                <button class="btn btn-dark" style="margin-left: 2rem; width: 10rem;">DELETE</button>
            </form>
        </div>
        <% } %>

        <hr>

        <% if(currUser){ %>
        <h3>Leave a review</h3>
        <br><br>
        <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
            <div>
                <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
            </div>
            <div>
                <label for="comment" class="form-label">Comment</label>
                <textarea rows="5" cols="30" type="text" id="comment" name="review[comment]" class="form-control" required></textarea>
            </div>
            <div class="invalid-feedback">
                <p>please add a comment</p>
            </div>
            <div>
                <br>
                <button>Submit</button>
                <br>
            </div>
            <br>
        </form>
        <% } %>

        <% if(listing.reviews.length>0){ %>
        <h2>All reviews</h2>
        <div class="row">
        <%for(review of listing.reviews){ %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <h4 class="card-title">@<%= review.author.username %></h4>
                    <p class="starability-result card-text" data-rating="<%= review.rating %>">
                        Rated: 3 stars
                    </p>
                    <p class="card-text"><%= review.comment %></p>
                </div>
                <br>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                    <button class="btn btn-dark btn-sm">Delete</button>
                </form>
                <br>
            </div>
        <% } %>
    </div>
        <% } %>
    
    <div class="row mb-3" style="justify-content: center;">
        <h3>Where you'll be</h3>
        <div id="map"></div>
    </div>
    </div>

    <script src="/js/map.js"></script>

</body>
